
PerfectTemplate/.DS_Store

PerfectTemplate/PerfectTemplate.xcodeproj/project.xcworkspace/xcuserdata/matthiaszarzecki.xcuserdatad/UserInterfaceState.xcuserstate

PerfectTemplate/.build/x86_64-apple-macosx/.DS_Store
